*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("pro\ img.jpg")no-repeat;
    background-size: cover;
}
.clock{
    width: 100%;
    max-width: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0,1,0.5,0.5),0px 10px 20px rgba(0,0,0,0.7);
    height: 20vh;
    border-radius: 10px;
    padding: 20px;
    color: rgb(241, 248, 251);
    margin-top: -200px;
}
.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.clock span{
    position: relative;
    top: -15%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}
